__pycache__
.DS_Store
.env
*.pyc
dist/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
**/.terraform/*
*.tfvars
crash.log
crash.*.log
*.tfstate
*.tfstate.*
data
metadata.json
